@import url("https://fonts.googleapis.com/css?family=Inter:wght@400;500;600;700;800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  .active_Link {
    @apply text-secondary;
  }
  .LinearGradient {
    background: linear-gradient(97deg, #4066ff 4%, #2949c6 100%);
  }
  .h1 {
    @apply text-[44px] leading-tight md:text-[61px] md:leading-[1.3] mb-8 font-bold;
  }
  .h2 {
    @apply text-[40px] leading-tight md:text-[55px] md:leading-[1.3] mb-4 font-bold;
  }
  .h3 {
    @apply text-[32px] leading-tight md:text-[36px] md:leading-[1.3] mb-4 font-semibold;
  }
  p {
    @apply leading-[1.3] text-gray-30 text-[15px];
  }
}

@layer utilities {
  .btn_white_rounded {
    @apply bold-16 bg-white px-[1.3rem] py-2 text-gray-90 rounded-full hover:bg-slate-100 transition-all;
  }
  .btn_light_rounded {
    @apply medium-16 bg-slate-10 px-[1.3rem] py-2 text-gray-90 rounded-full hover:bg-slate-50 shadow-md transition-all;
  }
  .btn_dark_rounded {
    @apply medium-16 bg-primary/95 px-[1.3rem] py-2 text-white rounded-full hover:bg-black shadow-md transition-all;
  }
  .btn_secondary_rounded {
    @apply medium-16 bg-secondary px-[1.3rem] py-2 text-white rounded-full hover:bg-secondary/95 shadow-md transition-all;
  }
  .max-container {
    @apply mx-auto max-w-[1440px];
  }
  .padding-container {
    @apply px-6 lg:px-20 2xl:px-0;
  }
  .max_padd_container {
    @apply mx-auto max-w-[1440px] px-6 lg:px-20 2xl:px-0;
  }
  .flexCenter {
    @apply flex items-center justify-center;
  }
  .flexBetween {
    @apply flex items-center justify-between;
  }
  .flexStart {
    @apply flex items-center justify-start;
  }
  .flexEnd {
    @apply flex items-center justify-end;
  }
  .regular-64 {
    @apply text-[64px] font-[400] leading-[120%];
  }
  .regular-52 {
    @apply text-[52px] font-[400] leading-[120%];
  }
  .regular-48 {
    @apply text-[48px] font-[400] leading-[120%];
  }
  .regular-40 {
    @apply text-[40px] font-[400] leading-[120%];
  }
  .regular-32 {
    @apply text-[32px] font-[400];
  }
  .regular-28 {
    @apply text-[28px] font-[400];
  }
  .regular-24 {
    @apply text-[24px] font-[400];
  }
  .regular-20 {
    @apply text-[20px] font-[400];
  }
  .regular-18 {
    @apply text-[18px] font-[400];
  }
  .regular-16 {
    @apply text-[16px] font-[400];
  }
  .regular-14 {
    @apply text-[14px] font-[400];
  }
  .medium-18 {
    @apply text-[18px] font-[400];
  }
  .medium-16 {
    @apply text-[16px] font-[400];
  }
  .medium-14 {
    @apply text-[14px] font-[400];
  }
  .bold-88 {
    @apply text-[88px] font-[700] leading-[120%];
  }
  .bold-64 {
    @apply text-[64px] font-[700] leading-[120%];
  }
  .bold-52 {
    @apply text-[52px] font-[700] leading-[120%];
  }
  .bold-48 {
    @apply text-[48px] font-[700] leading-[120%];
  }
  .bold-40 {
    @apply text-[40px] font-[700] leading-[120%];
  }
  .bold-36 {
    @apply text-[36px] font-[700] leading-[120%];
  }
  .bold-32 {
    @apply text-[32px] font-[700];
  }
  .bold-28 {
    @apply text-[28px] font-[700] leading-[120%];
  }
  .bold-22 {
    @apply text-[44px] font-[600];
  }
  .bold-20 {
    @apply text-[20px] font-[600];
  }
  .bold-18 {
    @apply text-[18px] font-[700];
  }
  .bold-16 {
    @apply text-[16px] font-[700];
  }
}
